@model CoreDD.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEditEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />
            
            <div class="form-row">
                <div class="form-group col-md-6>
                    <label asp-for="HireDate" class="control-label">HireDate</label>
                    <input asp-for="HireDate" class="form-control" />
                    <span asp-validation-for="HireDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="BaseSalary" class="control-label"></label>
                    <input asp-for="BaseSalary" class="form-control" />
                    <span asp-validation-for="BaseSalary" class="text-danger"></span>
                </div>
            </div>
            <div></div>
            <div class="form-row">
                
                <div class="form-group col-md-6">
                    <label asp-for="EmpCode" class="control-label"></label>
                    <input asp-for="EmpCode" class="form-control" />
                    <span asp-validation-for="EmpCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Position" class="control-label"></label>
                    <input asp-for="Position" class="form-control" />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="OfficeLocation" class="control-label"></label>
                <input asp-for="OfficeLocation" class="form-control" />
                <span asp-validation-for="OfficeLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
